@import "tailwindcss";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/font/OpenSans-VariableFont_wdth\,wght.ttf)
    format("truetype");
}

body {
  font-family: "Open Sans", sans-serif;
}

.logo-color {
  color: #467865;
}
